<mat-toolbar color="primary"  class="private-menu mat-elevation-z6">
  <div class="logo" routerLink="/dashboard">
    <img src="/assets/logo.png" alt="imagen logo">
    <span class="mat-title">Rick & Morty</span>
  </div>
  <button mat-button routerLinkActive="selected" routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLinkActive="selected" routerLink="/galeria">Galería</button>
  <button mat-button routerLinkActive="selected" routerLink="/crud">CRUD</button>
  <button mat-button routerLinkActive="selected" routerLink="/profile">Profile</button>

  <span class="mat-h6">Hola, {{currentUserName}}</span>
  <button mat-icon-button aria-label="Logout" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
