<div class="galeria-container">
  <span class="mat-title">Galeria</span>
  <div class="image-main">
    <img #imageSelected [src]="getCurrentUrl()" />
  </div>
  <div class="image-list">
    <button mat-icon-button aria-label="Back" (click)="backSlider()"
    [disabled]="sliderPage===0"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <img
      *ngFor="
        let image of imageList | slice: sliderPage:sliderPage + 3;
        index as i
      "
      (click)="imageGalerySelected(image)"
      [src]="image?.src"
      [class.selected]="image.id === imageList[imageSelectedIndex].id"
      class="image-item"
      alt="miniatura de imagen"
    />
    <button mat-icon-button aria-label="Next" (click)="nextSlider()"
    [disabled]="sliderPage+sliderPageSize >imageList.length"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <div class="image-actions">
    <button
      mat-icon-button
      aria-label="Back"
      (click)="backImage()"
      [disabled]="imageSelectedIndex === selectedIndexInitial"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Next"
      (click)="nextImage()"
      [disabled]="imageSelectedIndex === imageList.length - 1"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
    <button mat-icon-button aria-label="ZoomIn" (click)="zoomIn()">
      <mat-icon>zoom_in</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="ZoomOut"
      (click)="zoomOut()"
      [disabled]="zoomLevel === 1"
    >
      <mat-icon>zoom_out</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Play"
      (click)="play()"
      [disabled]="isPlaying"
    >
      <mat-icon>play_circle_fill</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Stop"
      (click)="stop()"
      [disabled]="!isPlaying"
    >
      <mat-icon>stop_circle</mat-icon>
    </button>
  </div>
</div>
