:root {
  --zoom: 1;
}

.image-main {
  width: 300px;
  height: 300px;
  overflow: hidden;

  img {
    transition: transform ease 0.3s;
    transform: scale(var(--zoom));
  }
}
.image-list {
  display: flex;
  align-items: center;


  .image-item {
    max-width: 80px;
    border-radius: 3px;
    transition: transform ease-in-out 0.3s;

  }
  .selected {
    transform: scale(1.1);
    border: 3px solid hotpink;
  }
}
